spring:
  application:
    name: spring-security-asymmetric-encryption

  datasource:
    url: jdbc:postgresql://${DB_URL}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  security:
    user:
      name: admin
      password: admin1234
    jwt:
      private-key-path: classpath:keys/local-only/private_key.pem
      public-key-path: classpath:keys/local-only/public_key.pem
      access-token-expiration: 3600000 # an hour for local testing, for prod env i prefer 15 minutes
      refresh-token-expiration: 604800000 # 7 days

server:
  servlet:
    context-path: /api/v1



